SECRET_KEY=change-this-secret
ACCESS_TOKEN_EXPIRE_MINUTES=480
SQLITE_URL=sqlite:///./hr_assistant.db
VECTOR_STORE_DIR=./data/vector_store
UPLOADS_DIR=./data/uploads

GIGACHAT_API_URL=https://gigachat.devices.sberbank.ru/api/v1
GIGACHAT_AUTH_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth
GIGACHAT_CREDENTIALS=MDE5ZGQwMWMtMjg5OS03ZDYyLWE3OTgtYWEwNmMzZmY1Yzk5OjViNDkwMDJkLTg1ZmMtNGVlYS1hZjQ4LTlhNDU0NjIwZWM3ZQ==
GIGACHAT_SCOPE=GIGACHAT_API_PERS
GIGACHAT_MODEL=GigaChat
RAG_TOP_K=4
